.about_payment_page{
  background: url('../images/bg-noise.png');
  background-color: var(--bgColor);
  background-repeat: repeat;
  background-size: 500px;
  -webkit-animation: bg-noise-animation .2s linear infinite;
          animation: bg-noise-animation .2s linear infinite;
}

.about_payment_page .page_title{
  font-family: var(--fontFamily1);
  font-size: 70px;
  line-height: 89px;
  position: relative;
  display: inline-block;
  z-index: 10 !important;
}
.about_payment_page .page_title::after{
  content: '';
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  height: 20px;
  background: #A4A67C;
  z-index: -1;
}
@media screen and (max-width: 900px){
  .about_payment_page .page_title{
    font-size: 45px;
    line-height: 57px;
  }
}
@media screen and (max-width: 450px){
  .about_payment_page .page_title{
    font-size: 24px;
    line-height: 30px;
  }
  .about_payment_page .page_title::after{
    bottom: 4px;
    height: 10px;
  }
}

.about_payment_page .content{
  margin-top: 30px;
}

.about_payment_page section{
  margin-top: 20px;
}
.about_payment_page section .section_title{
  font-family: var(--fontFamily1);
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 20px;
  font-weight: 600;
}
.about_payment_page section p{
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.01em;
  font-family: var(--fontFamily2);
  margin-bottom: 20px;
  max-width: 570px;
}
@media screen and (max-width: 450px){
  .about_payment_page section p{
    font-size: 14px;
  }
}