.home_page{
  background: url('../images/bg-noise.png');
  background-color: var(--bgColor);
  background-repeat: repeat;
  background-size: 500px;
  -webkit-animation: bg-noise-animation 1s linear infinite;
          animation: bg-noise-animation 1s linear infinite;
}

.home_page header{
  padding-top: 0px;
}
.home_page header .hero_text{
  font-size: 70px;
  font-family: var(--fontFamily1);
  line-height: 89px;
  color: var(--txtColor1);
}
.home_page header .hero_text span{
  position: relative;
  white-space: nowrap;
  z-index: 111 !important;
}
.home_page header .hero_text span::before{
  content: "";
  display: block;
  height: 20px;
  background: var(--txtColor1);
  right: 0;
  width: 100%;
  position: absolute;
  bottom: 10px;
  background: #88a5bf;
  opacity: 1;
  z-index: -1 !important;
}
.home_page header .wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.home_page header .wrapper .details{
  width: calc(100% - 700px);
}
.home_page header p{
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.01em;
  width: 508px;
  margin-top: 30px;
}
.home_page header .actions{
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.home_page header .actions a.btn_primary.icon {
  margin-right: 20px;
}
.home_page header .section_line_1{
  margin-top: 200px;
  width: 35vw;
}
.home_page header .section_line_1 img{
  width: 35vw;
}
.home_page header .images{
  width: 650px;
  margin-left: 50px;
  height: 500px;
  margin-top: 50px;
}
.home_page header .images .images_container{
  position: relative;
  
  width: 100%;
}
.home_page header .images .card:nth-child(1){
  width: 300.5px;
  height: 400.5px;
  -webkit-transform: rotate(6.51deg);
      -ms-transform: rotate(6.51deg);
          transform: rotate(6.51deg);
}
.home_page header .images .card:nth-child(2){
  width: 336px;
  height: 451px;
  -webkit-transform: rotate(-7.6deg);
      -ms-transform: rotate(-7.6deg);
          transform: rotate(-7.6deg);
}
.home_page header .images .card:nth-child(3){
  width: 439.69px;
  height: 585.66px;
  -webkit-transform: rotate(3.4deg);
      -ms-transform: rotate(3.4deg);
          transform: rotate(3.4deg);
}
.home_page header .images .card:nth-child(1) img{
  width: 300.5px;
  height: 400.5px;
}
.home_page header .images .card:nth-child(2) img{
  width: 336px;
  height: 451px;
}
.home_page header .images .card:nth-child(3) img{
  width: 439.69px;
  height: 585.66px;
}
.home_page header .images:hover .card:nth-child(1){
  -webkit-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
          transform: rotate(5deg);
}
.home_page header .images:hover .card:nth-child(3){
  margin-top: -20px;
}
.home_page header .images:hover .card:nth-child(2){
  -webkit-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
          transform: rotate(-5deg);
}
.home_page header .images .card{
  position: absolute;
  right: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.home_page header .images .card:nth-child(1){
  top: 220px;
  right: 0;
  -webkit-filter: drop-shadow(0px 4px 10px rgba(43, 42, 42, 0.15));
          filter: drop-shadow(0px 4px 10px rgba(43, 42, 42, 0.15));
  border-radius: 0px 10px 10px 0px;
  /* transform: rotate(6.51deg); */
}
.home_page header .images .card:nth-child(2){
  top: 80px;
  left: 0;
  -webkit-filter: drop-shadow(0px 4px 10px rgba(43, 42, 42, 0.15));
          filter: drop-shadow(0px 4px 10px rgba(43, 42, 42, 0.15));
  border-radius: 0px 10px 10px 0px;
  /* transform: rotate(6.51deg); */ 
}
.home_page header .images .card:nth-child(3){
  top: 0;
  left: 100px;
}


@media (max-width: 1107px){
  
  .home_page header .actions a.btn_primary.icon {
    margin-bottom: 20px;
  }
}
@media (max-width: 1050px){
  .home_page header p{
    width: 400px;
  }
  .home_page header .actions{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home_page header .actions a{
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    white-space: nowrap;
  }
  .home_page header .images{
    margin-top: 200px;
  }
}
@media (max-width: 808px){
  .home_page header{
    padding-top: 0;
  }
  .home_page header{
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .home_page header .images{
    margin-top: 280px;
  }
}
@media (max-width: 780px){
  .home_page header{
    
  }
  .home_page header .hero_text{
    font-size: 45px;
    line-height: 57px;
  }
  .home_page header .hero_text span::before{
    height: 12px;
    bottom: 0;
  }
  
  .home_page header .details{
    width: 100%;
  }

  .home_page header .images .images_container{
    width: 450px;
  }
  .home_page header .images .card:nth-child(1){
    top: 150px;
    right: -70px;
  }
  .home_page header .images:hover .card:first-child {
    -ms-transform: rotate(6.51deg);
    -webkit-transform: rotate(6.51deg);
    transform: rotate(6.51deg);
  }
  .home_page header .images:hover .card:nth-child(2) {
    transform: rotate(-7.6deg);
    -ms-transform: rotate(-7.6deg);
    -webkit-transform: rotate(-7.6deg);
  }
  .home_page header .images:hover .card:nth-child(3){
    margin-top: 0;
  }
  .home_page header .images .card:nth-child(2){
    top: 50px;
    left: 50px;
    /* transform: rotate(6.51deg); */ 
  }
  .home_page header .images .card:nth-child(1) img{
    width: 207.54px;
    height: 276.61px;
  }
  .home_page header .images .card:nth-child(2) img{
    width: 232.06px;
    height: 311.48px;
  }
  .home_page header .images .card:nth-child(3) img{
    width: 303.67px;
    height: 404.49px;
  }
}
@media (max-width: 760px){
  .home_page header .images{
    width: 100%;
  }
}
@media (max-width: 768px){
  .home_page header .images{
    margin: 0;
    margin-top: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: flex-end;
        -ms-flex-pack: flex-end;
            justify-content: flex-end;
  }
}
@media (max-width: 605px){
  .home_page header .images{
    margin-top: 280px;
  }
}
@media (max-width: 540px){
  .home_page .section_line_1{
    display: none;
  }
  .home_page header .hero_text{
    font-size: 30px;
    line-height: 40px;
  }
  .home_page header .hero_text span::before{
    height: 12px;
    bottom: 0;
  }
  .home_page header .details{
    width: 100% !important;
  }
  .home_page header p{
    width: 100% !important;
    display: block;
    font-size: 16px;
    line-height: 28px;
  }
  .home_page header .images{
    margin-top: 30px;
    height: unset !important;
  }
  .home_page header .images .images_container{
    width: 270px;
    height: 270px;
  }
  .home_page header .images .card:nth-child(1){
    top: 80px;
    width: 100.5px;
    height: 133.95px;
    right: 0px;
  }
  .home_page header .images .card:nth-child(2){
    width: 112.37px;
    height: 150.84px;
    left: 50px;
  }
  .home_page header .images .card:nth-child(3){
    left: 80px;
    width: 147.05px !important;
    top: 20px;
    height: 195.87px !important;
  }
  .home_page header .images .card:nth-child(3):hover{
    
  }
  .home_page header .images .card:nth-child(1) img{
    width: 100.5px;
    height: 133.95px;
  }
  .home_page header .images .card:nth-child(2) img{
    width: 112.37px;
    height: 150.84px;
  }
  .home_page header .images .card:nth-child(3) img{
    width: 147.05px;
    height: 195.87px;
  }
}
@media (max-width: 410px){
  .home_page header .images{
    height: 250px;
    margin-top: 0 !important;
  }
  .home_page header .images .images_container{
    width: 220px;
    margin-right: 0px;
    margin-top: 30px;
    height: 250px;
  }
  .home_page header .images .card:nth-child(1){
    top: 75px;
    right: 0px !important;
    -webkit-filter: drop-shadow(0px 4px 10px rgba(43, 42, 42, 0.15));
            filter: drop-shadow(0px 4px 10px rgba(43, 42, 42, 0.15));
    border-radius: 0px 10px 10px 0px;
    /* transform: rotate(6.51deg); */
  }
  .home_page header .images .card:nth-child(2){
    top: 20px;
    left: 0;
    -webkit-filter: drop-shadow(0px 4px 10px rgba(43, 42, 42, 0.15));
            filter: drop-shadow(0px 4px 10px rgba(43, 42, 42, 0.15));
    border-radius: 0px 10px 10px 0px;
    /* transform: rotate(6.51deg); */ 
  }
  .home_page header .images .card:nth-child(3){
    left: 50px;
    top: 0;
    width: 147.05px;
    height: 195.87px;
  }
  .home_page header .images .card:nth-child(1) img{
    width: 100.5px;
    height: 133.95px;
  }
  .home_page header .images .card:nth-child(2) img{
    width: 112.37px;
    height: 150.84px;
  }
  .home_page header .images .card:nth-child(3) img{
    width: 147.05px;
    height: 195.87px;
  }
}

.home_page .big_text{
  font-size: 100px;
  line-height: 140%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-family: var(--fontFamily1);
  color: #2B2A2A;
  white-space: nowrap;
}
.home_page .big_text.overflow{
  width: 100vw;
}
.home_page .big_text img{
  margin: 0 10px;
}

.home_page .section_line_2{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 900px){
  .home_page .big_text{
    font-size: 60px;
    margin: 40px 0 100px !important;
  }
  .home_page .big_text img{
    width: 50px !important;
    max-width: 50px !important;
    height: 50px !important;
  }
}
@media (max-width: 810px){
  .home_page .big_text{
    margin: 151px 0 100px !important;
  }
}
@media (max-width: 770px){
  .home_page .big_text{
    margin: 40px 0 100px !important;
  }
}
@media (max-width: 650px){
  .home_page .big_text{
    font-size: 40px;
  }
  .home_page .big_text img{
    width: 40px !important;
    max-width: 40px !important;
    height: 40px !important;
  }
}
@media (max-width: 400px){
  .home_page .big_text{
    font-size: 35px;
    margin: 30px 0;
  }
  .home_page .big_text img{
    width: 36px !important;
    max-width: 36px !important;
    height: 36px !important;
    min-width: 36px !important;
  }
}

.home_page section{

}
@media (max-width: 590px){
  .home_page section{
    padding: 40px 0;
  }
}
@media (max-width: 400px){
  .home_page section{
    padding: 100px 0 0;
  }
}
.home_page section .section_title{
  font-size: 120px;
  font-family: var(--fontFamily1);
  line-height: 120%;
  text-align: center;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 0 auto !important;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--txtColor1);
}
.home_page section .section_title.animate{
}
.home_page section .section_title span{
  position: relative;
  z-index: 10 !important;
}
.home_page section .section_title span::after{
  content: "";
  display: block;
  left: 0;
  right: 0;
  height: 30px;
  background: var(--txtColor1);
  background: #ff004c;
  position: absolute;
  opacity: 1;
  z-index: -1 !important;
  bottom: 20px;
}
@media (max-width: 1100px){
  .home_page section .section_title{
    font-size: 80px;
  }
}
@media (max-width: 740px) {
  .section_line{
    display: none !important;
  }
}
@media (max-width: 768px){
  .home_page section .section_title{
    font-size: 54px !important;
    line-height: 120%;    
  }
  .home_page section .section_title span::after{
    height: 15px;
    bottom: 5px;
  }
}
@media (max-width: 460px){
  .home_page section .section_title{
    font-size: 36px !important;
  }
  .home_page section .section_title span::after{
    height: 10px;
    bottom: 5px;
  }
}
@media (max-width: 350px){
  .home_page section .section_title{
    font-size: 36px !important;
  }
  .home_page section .section_title span::after{
    height: 10px;
    bottom: 5px;
  }
}

@media (max-width: 800px){
  .home_page .section_line_2 img{
    width: 60px !important;
    margin-right: -220px;
  }
}
.home_page section.featured_magazine{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0 !important;
  width: 100%;
}
.home_page section.featured_magazine .section_line_3{
  margin-top: 400px;
}
.home_page section.featured_magazine .wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center
}
.home_page section.featured_magazine .wrapper .image{
  position: relative;
  width: 497px;
  height: 662px;
  -webkit-filter: drop-shadow(0px 4px 10px rgba(43, 42, 42, 0.15));
          filter: drop-shadow(0px 4px 10px rgba(43, 42, 42, 0.15));
  border-radius: 0px 10px 10px 0px;
}
.home_page section.featured_magazine .wrapper .image img{
  z-index: 555;
  width: 497px;
  height: 662px;
  position: relative;
}
.home_page section.featured_magazine .wrapper .image .bg{
  position: absolute;
  left: 30%;
  top: 30%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #485F73;
  z-index: 1 !important;
}
.home_page section.featured_magazine .wrapper .image .bg div{
  border-radius: 50%;
  background: #68828C;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home_page section.featured_magazine .wrapper .details{
  margin-left: -60px;
  z-index: 777;
}
.home_page section.featured_magazine .wrapper .name{
  font-size: 100px;
  line-height: 126px;
  text-transform: uppercase;
  color: var(--txtColor1);
  font-family: var(--fontFamily1);
}
.home_page section.featured_magazine .wrapper .date{
  font-size: 30px;
  font-family: var(--fontFamily1);
  line-height: 38px;
  padding-left: 50px;
}
.home_page section.featured_magazine .wrapper a{
  margin-top: 20px;
  margin-left: 68px;
  display: inline-block !important;
}
.subheading {
  margin-left: 68px;
  margin-top: 300px;
}

.subheading p {
  position: relative;
  display: inline-block;
  z-index: 1;
  color: #2B2A2A;
  font-size: 20px;
  line-height: 28px;
  max-width: 200px;
}

.subheading p:after {
  position: absolute;
  content: "";
  width: 100%;
  background-color: #A69286;
  bottom: 0;
  z-index: -1;
  height: 10px;
  right: 0;
}
@media (max-width: 1100px){
  .home_page section.featured_magazine .wrapper .image{
    width: 355.68px;
    height: 470.05px;
  }
  .home_page section.featured_magazine .wrapper .image img{
    width: 355.68px;
    height: 470.05px;
  }
  .home_page section.featured_magazine .wrapper .name{
    font-size: 60px;
    margin-left: 0px;
  }
  .subheading {
    margin-top: 130px;
  }
}
@media (max-width: 780px){
  .home_page section.featured_magazine{
    margin-top: -40px !important;
  }
  .home_page section.featured_magazine .section_line_3{
    display: none;
  }
  .home_page section.featured_magazine .wrapper .image .bg{
    display: none;
  }
  .home_page section.featured_magazine .wrapper .image .bg div{
    display: none;
  }
}
@media (max-width: 590px){
  .home_page section.featured_magazine{
    padding-top: 50px !important;
  }
  .home_page section.featured_magazine .wrapper{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .home_page section.featured_magazine .wrapper .image{
    width: 100%;
    height: auto;
  }
  .home_page section.featured_magazine .wrapper .image:hover .bg{
    height: 400px;
    width: 400px;
  }
  .home_page section.featured_magazine .wrapper .image:hover .bg div{
    height: 300px;
    width: 300px;
  }
  .home_page section.featured_magazine .wrapper .image img{
    width: 100%;
    height: auto;
  }
  .home_page section.featured_magazine .wrapper .details{
    margin: 0;
    width: 100%;
    padding-left: 20px;
  }
  .home_page section.featured_magazine .wrapper .name{
    font-size: 40px;
    margin-left: 0px;
    line-height: unset;
  }
  .home_page section.featured_magazine .wrapper .date{
    padding: 0;
    margin-top: 0px;
    font-size: 20px;
  }
  .home_page section.featured_magazine .wrapper .actions{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: flex-end;
        -ms-flex-pack: flex-end;
            justify-content: flex-end;
    width: 100%;
  }
  .home_page section.featured_magazine .wrapper a{
    margin-left: 0;
    margin-top: 20px;
  }
  .subheading {
    margin-top: 0;
    margin-left: 0;
  }
  .subheading p {
    max-width: 100%;
    font-size: 15px;
  }
  .subheading p:after{
    width: 54%;
    
  }
}

.home_page section.topics .section_title span::after{
  background: #A4A67C !important;
}
.home_page section.topics .wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}
.home_page section.topics .wrapper .section_line_4{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home_page section.topics .wrapper .topics_container{
  margin-top: 400px;
  padding-left: 150px;
}
.home_page section.topics .wrapper .topic{
  position: relative;
  margin-top: -250px;
  overflow: hidden;
  border-radius: 0 10px 10px 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  z-index: 555 !important;
}
.home_page section.topics .wrapper .topic:nth-child(1){
  -webkit-transform: rotate(-8deg);
      -ms-transform: rotate(-8deg);
          transform: rotate(-8deg);
  width: 430px;
  height: 625.53px;
  margin-left: 50px;
}
.home_page section.topics .wrapper .topic:nth-child(1):hover{
  -webkit-transform: rotate(-10.88deg);
      -ms-transform: rotate(-10.88deg);
          transform: rotate(-10.88deg);
}
.home_page section.topics .wrapper .topic:nth-child(2){
  margin-left: 300px;
  -webkit-transform: rotate(8deg);
      -ms-transform: rotate(8deg);
          transform: rotate(8deg);
  width: 390.45px;
  height: 558px;
}
.home_page section.topics .wrapper .topic:nth-child(2):hover{
  -webkit-transform: rotate(10.95deg);
      -ms-transform: rotate(10.95deg);
          transform: rotate(10.95deg);
}
.home_page section.topics .wrapper .topic:nth-child(3){
  -webkit-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
          transform: rotate(-2deg);
  width: 430px;
  height: 573.33px;
}
.home_page section.topics .wrapper .topic:nth-child(3):hover{
  -webkit-transform: rotate(-7.07deg);
      -ms-transform: rotate(-7.07deg);
          transform: rotate(-7.07deg);
}
.home_page section.topics .wrapper .topic:nth-child(4){
  margin-left: 350px;
  position: relative;
  -webkit-transform: rotate(1deg);
      -ms-transform: rotate(1deg);
          transform: rotate(1deg);
  width: 430px;
  height: 600.1px;
}
.home_page section.topics .wrapper .topic:nth-child(4):hover{
  -webkit-transform: rotate(8.83deg);
      -ms-transform: rotate(8.83deg);
          transform: rotate(8.83deg);
}
.home_page section.topics .wrapper .topic:nth-child(4) .section_line_5{
  position: absolute;
  bottom: -50px;
  left: 150px;
  -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
  z-index: 1 !important; 
}
.home_page section.topics .wrapper .topic:nth-child(4) .section_line_5 img{
  width: 200px;
}
.home_page section.topics .wrapper .topic:nth-child(5){
  z-index: 222;
  width: 469.71px;
  height: 626.28px;
  -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}
.home_page section.topics .wrapper .topic:nth-child(5) .section_line_6{
  position: absolute;
  bottom: -140px;
  left: -100px;
  z-index: 1 !important; 
}
.home_page section.topics .wrapper .topic:nth-child(6){
  margin-left: 350px;
  z-index: 111;
  -webkit-transform: rotate(6deg);
      -ms-transform: rotate(6deg);
          transform: rotate(6deg);
  width: 430px;
  height: 600.1px;
}
.home_page section.topics .wrapper .topic:nth-child(6):hover{
  -webkit-transform: rotate(11deg);
      -ms-transform: rotate(11deg);
          transform: rotate(11deg);
}
.home_page section.topics .wrapper .topic img{
  width: 100%;
  height: auto;
  overflow: hidden;
}
.home_page section.topics .wrapper .topic .name{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 60px;
  font-family: var(--fontFamily1);
  line-height: 76px;
  text-align: center;
  color: var(--txtColor1);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  cursor: default;
  opacity: 0;
  overflow: hidden;
  border-radius: 0 10px 10px 0;
}
.home_page section.topics .wrapper .topic:hover .name{
  opacity: 1;
}
.home_page section.topics .wrapper .topic:nth-child(1) .name{
  background: rgba(191, 133, 99, 0.9);
}
.home_page section.topics .wrapper .topic:nth-child(2) .name{
  background: rgba(166, 60, 79, 0.9);
}
.home_page section.topics .wrapper .topic:nth-child(3) .name{
  background: rgba(62, 59, 140, 0.9);
}
.home_page section.topics .wrapper .topic:nth-child(4) .name{
  background: rgba(104, 130, 140, 0.9);
}
.home_page section.topics .wrapper .topic:nth-child(5) .name{
  background: rgba(166, 86, 68, 0.9);
}
.home_page section.topics .wrapper .topic:nth-child(6) .name{
  background: rgba(166, 96, 115, 0.9);
}
.home_page section.topics .actions{
  margin: 50px 0;
}
@media (max-width: 930px){
  .home_page section.topics .wrapper .topics_container{
    padding-left: 115px;
  }
  .home_page section.topics .wrapper .topic{
    margin-top: -170px !important;
  }
  .home_page section.topics .wrapper .topic:nth-child(2){
    margin-left: 200px;
  }
  .home_page section.topics .wrapper .topic:nth-child(4){
    margin-left: 250px;
  }
  .home_page section.topics .wrapper .topic:nth-child(6){
    margin-left: 250px;
  }
  .home_page section.topics .wrapper .topic:nth-child(4) .section_line_5{
    display: none;
  }


  .home_page section.topics .wrapper .topic .name{
    font-size: 40px;
  }
  .home_page section.topics .wrapper .topic:nth-child(1){
    width: 293.42px;
    height: 426.84px;
  }
  .home_page section.topics .wrapper .topic:nth-child(2){
    width: 265.86px;
    height: 380.93px;
  }
  .home_page section.topics .wrapper .topic:nth-child(3){
    width: 293.42px;
    height: 391.22px;
  }
  .home_page section.topics .wrapper .topic:nth-child(4){
    width: 293.42px;
    height: 409.49px;
  }
  .home_page section.topics .wrapper .topic:nth-child(5){
    width: 320.51px;
    height: 427.35px;
  }
  .home_page section.topics .wrapper .topic:nth-child(6){
    width: 293.42px;
    height: 409.49px;
  }
}
@media (max-width: 780px){
  .home_page .section_line_4 img{
    width: 52px;
    float: left;
    margin-left: -300px;
  }
  .home_page section.topics{
    margin-top: 50px !important;
  }
  .home_page section.topics .wrapper{
    margin-top: 0px !important;
  }
  .home_page section.topics .wrapper .topics_container{
    margin-top: 200px;
    padding-bottom: 50px;
  }
  .home_page section.text_highlight .section_line_8 img {
    width: 12%;
    visibility: hidden;
  }
}
@media (max-width: 740px){
  .home_page section.topics .wrapper{
    margin-top: 0;
  }
  .home_page section.topics .wrapper .topics_container{
    margin-top: 270px;
    padding-bottom: 50px;
  }
}

@media (max-width: 570px){
  .home_page section.topics{
    padding-top: 0px;
  }
  .home_page section.topics .wrapper .topics_container{
    padding-left: 70px;
  }
  .home_page section.topics .topics_container{
    margin: 0 !important;
    margin-top: 140px !important;
  }
  .home_page section.topics .wrapper .topic{
    margin-top: -80px !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }
  .home_page section.topics .wrapper .topic:nth-child(2){
    margin-left: 100px;
  }
  .home_page section.topics .wrapper .topic:nth-child(4){
    margin-left: 100px;
  }
  .home_page section.topics .wrapper .topic:nth-child(6){
    margin-left: 100px;
  }
  .home_page section.topics .wrapper .topic:nth-child(4) .section_line_5{
    display: none;
  }
  .home_page section.topics .wrapper .topic .name{
    font-size: 25px !important;
    opacity: 1 !important;
    line-height: unset !important;
  }
  .home_page section.topics .wrapper .topic:nth-child(1){
    width: 149.98px;
    height: 218.18px;
  }
  .home_page section.topics .wrapper .topic:nth-child(2){
    width: 135.89px;
    height: 194.72px;
  }
  .home_page section.topics .wrapper .topic:nth-child(3){
    width: 149.98px;
    height: 199.98px;
  }
  .home_page section.topics .wrapper .topic:nth-child(4){
    width: 149.98px;
    height: 209.31px;
  }
  .home_page section.topics .wrapper .topic:nth-child(5){
    width: 163.83px;
    height: 218.45px;
  }
  .home_page section.topics .wrapper .topic:nth-child(6){
    width: 149.98px;
    height: 209.31px;
  }
}


.home_page section.text_highlight{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home_page section.text_highlight .section_line_8{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: flex-start;
      -ms-flex-pack: flex-start;
          justify-content: flex-start;
}
.home_page section.text_highlight .section_title{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.home_page section.text_highlight .section_title span::after{
  background: #BDA9AF;
}

.home_page section.blogs .card .actions a {
  min-width: 302px;
  max-width: 100%;
}
@media screen and (max-width: 768px){
  .home_page section.text_highlight{
    padding-top: 100px;
  }
}
@media screen and (max-width: 600px){
  .home_page section.slider{
    padding: 0px 0;
  }
}

.home_page section.slider{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.home_page section.slider{
  
}
.home_page section.slider .circle{
  height: 626px;
  width: 626px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #A63C4F;
  z-index: 0 !important;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  position: relative;
  margin-top: -300px;
}
.home_page section.slider .circle .bg{
  height: 542px;
  width: 542px;
  border-radius: 50%;
  background: #A66073;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}
.home_page section.slider .owl-carousel{
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: visible;
}
.home_page section.slider .owl-stage-outer{
  height: 100%;
  margin-left: 70px;
}
.home_page section.slider .owl-carousel .item{
  font-size: 200px;
  font-family: cheee, sans-serif;
  line-height: 530px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  bottom: 0;
  margin: 0;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -140px;
  overflow: visible;
}
.home_page section.slider .owl-carousel .item img{
  width: 100%;
  z-index: 888;
}
.home_page section.slider .owl-nav button{
  width: 150px;
  height:75px;
  background: var(--bgColor) !important;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.home_page section.slider .owl-nav button:first-child{
  position: absolute;
  top: 50%;
  left: -37.5px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.home_page section.slider .owl-nav button:first-child:hover{
  left: -47.5px;
}
.home_page section.slider .owl-nav button:last-child{
  position: absolute;
  top: 50%;
  right: -180px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.home_page section.slider .owl-nav button:last-child:hover{
  right: -190px;
}
.home_page section.slider .owl-nav button img{
  height: 30px;
  -webkit-filter: contrast(100);
          filter: contrast(100);
}
.home_page section.slider .owl-nav button:first-child img{
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.home_page section.slider .section_line_9{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0;
}
.home_page section.slider .section_line_9 img{
  padding-left: 300px;
}
@media screen and (max-width: 900px){
  .home_page section.slider .circle{
    height: 526px;
    width: 526px;
  }
  .home_page section.slider .circle .bg{
    height: 442px;
    width: 442px;
  }
  .home_page section.slider .item{
    font-size: 120px !important;
  }
  .home_page section.slider .owl-stage-outer{
    height: 100%;
  }
  .home_page section.slider .owl-nav button{
    width: 100px;
    height:45px;
  }
  .home_page section.slider .owl-nav button img{
    height: 20px;
  }
  .home_page section.slider .owl-nav button:first-child{
    top: 50%;
    left: -37.5px;
  }
  .home_page section.slider .owl-nav button:first-child:hover{
    left: -47.5px;
  }
  .home_page section.slider .owl-nav button:last-child{
    top: 50%;
    right: -140px;
  }
  .home_page section.slider .owl-nav button:last-child:hover{
    right: -150px;
  }
}
@media screen and (max-width: 780px){
  .home_page .section_line_9{
    margin-top: 20px;
    margin-left: -300px;
  }
  .home_page .section_line_9 img{
    width: 43px;
  }
  .home_page section.slider{
    padding: 50px 0;
    margin: 80px 0 0 !important;
  }
  
  .home_page section.topics .wrapper .topic .name{
    opacity: 1 !important;
  }
}
@media screen and (max-width: 768px){
  .home_page section.slider{
    padding: 50px 0;
    margin: 80px 0;
  }
  .home_page section.slider .circle{
    margin-top: -50px;
  }
}
@media screen and (max-width: 740px){
  .home_page section.slider{
    padding: 50px 0;
    margin: 80px 0 !important; 
  }
}
@media screen and (max-width: 600px){
  .home_page section.slider .circle{
    width: 251px;
    height: 250px;
  }
  .home_page section.slider .circle .bg{
    width: 221px;
    height: 220px;
  }
  .home_page section.slider .item{
    font-size: 60px !important;
    height: 220px !important;
    width: 220px !important;
    margin-left: 0px !important;
  }
  .home_page section.slider .owl-stage-outer{
    height: 100%;
    width: 220px !important;
    margin-left: 0px !important;
  }
  .home_page section.slider .owl-carousel .item img{
    width: 330%;
  }
  .home_page section.slider .owl-nav button{
    width: 80px;
    height:35px;
  }
  .home_page section.slider .owl-nav button img{
    height: 15px;
  }
  .home_page section.slider .owl-nav button:first-child{
    top: 50%;
    left: -20.5px;
  }
  .home_page section.slider .owl-nav button:first-child:hover{
    left: -30.5px;
  }
  .home_page section.slider .owl-nav button:last-child{
    top: 50%;
    right: -100px;
  }
  .home_page section.slider .owl-nav button:last-child:hover{
    right: -110px;
  }
}
@media screen and (max-width: 600px){
  .home_page section.slider{
    margin: 0;
    padding: 20px 0;
  }
  .home_page section.slider .circle{
    margin-top: 30px;
  }
}

.home_page section.featured_collection{

}
.home_page section.featured_collection .wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.home_page section.featured_collection .details{
  width: calc(100% - (462.3px + 40px));
}
.home_page section.featured_collection .details .title{
  font-size: 60px;
  line-height: 76px;
  font-family: var(--fontFamily1);
  color: var(--txtColor1);
}
.home_page section.featured_collection .details p{
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: var(--txtColor1);
  margin-top: 50px;
}
.home_page section.featured_collection .details a{
  margin-top: 50px !important;
  display: inline-block !important;
}
.home_page section.featured_collection .details .section_line_10{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: flex-end;
      -ms-flex-pack: flex-end;
          justify-content: flex-end;
}
.home_page section.featured_collection .wrapper .image{
  margin-left: 40px;
  width: 462.3px;
  height: 641.27px;
  -webkit-filter: drop-shadow(0px 4px 10px rgba(43, 42, 42, 0.15));
          filter: drop-shadow(0px 4px 10px rgba(43, 42, 42, 0.15));
  border-radius: 0px 10px 10px 0px;
}
.home_page section.featured_collection .wrapper .image img{
  width: 462.3px;
  height: 641.27px;
}
@media screen and (max-width: 950px){
  .home_page section.featured_collection .wrapper{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section_line_10{
    display: none !important;
  }
  .home_page section.featured_collection .wrapper .details{
    width: 100%;
  }
  .home_page section.featured_collection .wrapper .image{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    margin: 0;
    margin-top: -70px;
  }
  .home_page section.featured_collection .wrapper .image img{
    width: 360px;
    height: 499.37px;
    float: right;
  }
}
@media screen and (max-width: 768px){
  .home_page section.featured_collection .details .title{
    font-size: 40px;
    line-height: 50px;
  }
  .home_page section.featured_collection .details p{
    font-size: 20px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 660px){
  .home_page section.featured_collection .wrapper .image{
    margin-top: 20px;
    height: auto;
  }
}
@media screen and (max-width: 465px){
  .home_page section.featured_collection{
    margin-top: 40px;
  }
  .home_page section.featured_collection .wrapper{
    position: relative;
    padding-top: 550px;
  }
  .home_page section.featured_collection .wrapper .image{
    margin: 0;
    position: absolute;
    top: 0;
    width: 100% !important;
    height: unset !important;
  }
  .home_page section.featured_collection .wrapper .image img{
    width: 100% !important;
    height: unset !important;
  }
  .home_page section.featured_collection .details .title{
    font-size: 28px;
    line-height: 35px;
  }
  .home_page section.featured_collection .details p{
    font-size: 14px;
    margin-top: 30px;
  }
  .home_page section.featured_collection .details a{
    margin-top: 40px;
    float: right;
    overflow: auto;
  }
}
@media screen and (max-width: 410px){
  .home_page section.featured_collection .wrapper{
    position: relative;
    padding-top: 450px;
  }
}
@media screen and (max-width: 350px){
  .home_page section.featured_collection .wrapper{
     padding-top: 380px;
   }
}
.home_page section.blogs .section_title span::after{
  background: #A63C4F;
}
.home_page section.blogs .wrapper{
  margin-top: 50px;
}
.home_page section.blogs .card{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.home_page section.blogs .card .image{
  width: 360.46px;
  height: 500px;
  -webkit-filter: drop-shadow(0px 4px 10px rgba(43, 42, 42, 0.15));
          filter: drop-shadow(0px 4px 10px rgba(43, 42, 42, 0.15));
  border-radius: 0px 10px 10px 0px;
}
.home_page section.blogs .card.left .image{
  -webkit-transform: rotate(-8deg);
      -ms-transform: rotate(-8deg);
          transform: rotate(-8deg);
  padding-left: 30px;
}
.home_page section.blogs .card.right .image{
  -webkit-transform: rotate(8deg);
      -ms-transform: rotate(8deg);
          transform: rotate(8deg);
  float: right !important;
  padding-right: 30px;
}
.home_page section.blogs .card .image img{
  width: 100%;
  height: 500px;
}
.home_page section.blogs .card .details{
  width: calc(100% - 466px);
}
.home_page section.blogs .card.left .details{
  padding-left: 50px;
}
.home_page section.blogs .card.right .details{
  padding-right: 50px;
}
.home_page section.blogs .card .title{
  font-size: 45px;
  font-family: var(--fontFamily1);
  color: var(--txtColor1);
  height: unset;
  width: 100%;
}
.home_page .card.right {
  text-align: right;
}

.home_page section.blogs .card.right p {
  margin-right: 0;
  margin-left: auto;
}
.home_page section.blogs .card p{
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: var(--txtColor1);
  margin-top: 20px;
  max-width: 500px;
}

.home_page section.blogs .card .actions{
  width: 100%;
  margin-top: 30px;
}
.section_actions {
  text-align: right;
  margin-top: 80px;
}
@media screen and (max-width: 900px){
  .home_page section.blogs .card{
    margin-top: 60px;
  }
  .home_page section.blogs .card .image{
    width: 270px;
    height: 374.53px;
  }
  
  .home_page section.blogs .card .image img{
    width: 100%;
    height: auto;
  }
  .home_page section.blogs .card .details{
    width: calc(100% - 350px);
  }
  .home_page section.blogs .section_actions a{
    display: none !important;
  }
}
@media screen and (max-width: 768px){
  .home_page section.blogs{
    margin-top: 60px;
  }
  .home_page section.blogs .card .title{
    font-size: 32px;
  }
  .home_page section.blogs .card p{
    font-size: 14px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 521px) and (max-width: 900px){
  .home_page section.blogs .card .actions a{
    min-width: 220px;
  }
}
@media screen and (max-width: 767px){
  .home_page .card.right{
    text-align: left;
  }
  .home_page section.blogs .card{
    margin-bottom: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
  }
  .home_page section.blogs .card .image{
    width: 165.26px !important;
    height: 229.23px !important;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .home_page section.blogs .card .details{
    padding-left: 30px  !important;
  }
  .home_page section.blogs .card.left .image{
    padding-left: 15px;
  }
  .home_page section.blogs .card.right .image{
    padding-right: 15px;
  }
  .home_page section.blogs .card .details{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .home_page section.blogs .card.right .title{
    text-align: left;
  }
  .home_page section.blogs .card.right .image{
    -webkit-transform: rotate(-8deg);
        -ms-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  .section_actions {
    text-align: right;
    margin-top: 30px;
  }
  .home_page section.blogs .card .image img{
    width: 165.26px !important;
    height: 229.23px !important;
  }
  .home_page section.blogs .card .details{
    width: 100%;
    margin: 0;
    margin-top: 15px;
  }
  .home_page section.blogs .card.right .actions a, 
  .home_page section.blogs .card.left .actions a {
    display: block;
    text-align: center;
    min-width: auto;
  }
  .btn_primary:hover{
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  .home_page section.blogs .card.right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media screen and (max-width: 450px){
  .home_page section.blogs .card{
    margin-bottom: 100px;
  }
}