.imprint_page{
  background: url('../images/bg-noise.png');
  background-color: var(--bgColor);
  background-repeat: repeat;
  background-size: 500px;
  -webkit-animation: bg-noise-animation .2s linear infinite;
          animation: bg-noise-animation .2s linear infinite;
}

.imprint_page .page_title{
  font-family: var(--fontFamily1);
  font-size: 70px;
  line-height: 89px;
  position: relative;
  display: inline-block;
  z-index: 10 !important;
}
.imprint_page .page_title::after{
  content: '';
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  height: 20px;
  background: #A65644;
  opacity: 1;
  z-index: -1 !important;
}
@media screen and (max-width: 900px){
  .imprint_page .page_title{
    font-size: 45px;
    line-height: 57px;
  }
}
@media screen and (max-width: 450px){
  .imprint_page .page_title{
    font-size: 24px;
    line-height: 30px;
  }
  .imprint_page .page_title::after{
    bottom: 4px;
    height: 10px;
  }
}

.imprint_page .content{
  margin-top: 30px;
}
.imprint_page .content span{
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.01em;
  font-family: var(--fontFamily2);
}
.imprint_page .content br{
  display: block !important;
  margin-top: 20px !important;
  line-height: 22px;
  content: " ";
}
.imprint_page .content span a{
  text-decoration: underline;
  cursor: pointer;
  color: rgb(0, 0, 0);
}
@media screen and (max-width: 450px){
  .imprint_page .content span{
    font-size: 14px;
    line-height: 20px;
  }
}